<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid ">
        <a class="navbar-brand" href="">Sessions Controller</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <a class="nav-link" routerLink="/login" *ngIf="!userIsAuthenticated">Login</a>
                <a class="nav-link" routerLink="/signup" *ngIf="!userIsAuthenticated">Signup</a>
                <a class="nav-link" href="" (click)="onLogout()" *ngIf="userIsAuthenticated">Logout</a>
            </div>
        </div>
    </div>
</nav>